.shamsi-date {
    direction: ltr;
    text-align: right;
}

.cover-preview-image-wrapper img {
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.red {
    background-color: red !important;
    color: white !important;
}

/* Telerik Grid Styles */
.k-indicator-container {
    text-align: center;
}

.k-grid-header {
    padding-right: 0 !important;
}

.k-grid-header .k-header {
    text-align: center;
}

.k-grid-header .k-header:first-child {
    border-left-width: thin;
}

.k-grid th:first-child, .k-grid td:first-child {
    border-left-width: thin;
}

.k-grid-header, .k-header, th.k-header, .k-grid-header-wrap, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-grid td, .k-grid-footer, .k-grid-footer-wrap, .k-grid-content-locked, .k-grid-footer-locked, .k-grid-header-locked, .k-filter-row > td, .k-filter-row > th {
    text-align: center;
}

.k-filtercell .k-filtercell-wrapper > .k-textbox {
    width: 70px;
}


