$SidebarBackgroundColor: #1f2936;
$MainBackgroundColor: #f4f6fa;
$MainFontColor: #232e3c;


/*#region font-face*/
@font-face {
    font-family: 'aeonik-bold';
    src: url("../../fonts/Aeonik-Bold.otf?v=uc2a313ce") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'aeonik-medium';
    src: url("../../fonts/Aeonik-Medium.otf?v=uc2a313ce") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'aeonik-regular';
    src: url("../../fonts/Aeonik-regular.otf?v=uc2a313ce") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'aeonik-light';
    src: url("../../fonts/Aeonik-Light.otf?v=uc2a313ce") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/*#endregion*/

html, body {
    font-family: 'aeonik-regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-height: 100vh;
    width: inherit !important;
    color: $MainFontColor;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page {
    .sidebar {
        display: flex;
        flex-direction: column;
        width: 20%;
        color: #f4f6fa;
        background-color: $SidebarBackgroundColor;
        transition: .3s transform;
        overflow-x: auto;
        overflow-y: hidden;
        height: 100vh;

        &:hover {
            overflow-y: hidden;
        }

        .logo-wrapper {
            text-align: center;
            display: flex;
            align-items: center;
            margin-top: 20px;

            .logo-image {
                height: 48px;
                margin-right: 2px;
            }

            .logo-brand {
                font-size: 2rem;
                font-family: 'aeonik-bold';
                text-align: center;
                margin-top: 5px;
                color: #fff;
            }
        }

        .links-wrapper {
            margin-top: 35px;
            padding-left: 5px;
            font-weight: 400;
            font-size: 20px;

            .nav-link {
                color: white;
                opacity: 0.7;
                display: flex;
                margin: 25px 0;

                &:hover {
                    opacity: 1;
                }

                .nav-link-icon {
                    font-size: 17px;
                    margin-right: 12px;
                    display: flex;
                    align-items: center;
                }
            }

            .nav-links-group {
                .rz-navigation-item {
                    width: 100%;

                    .rz-navigation-item-wrapper {
                        background-color: $SidebarBackgroundColor;
                        padding: 0;

                        .rz-navigation-item-link {
                            color: white;
                            opacity: 0.7;
                            margin-right: 10px;

                            &:hover {
                                opacity: 1;
                            }
                        }

                        .rzi.rz-navigation-item-icon-children {
                            margin-bottom: -5px;
                        }
                    }

                    .rz-navigation-menu {
                        background-color: $SidebarBackgroundColor;
                        position: relative;
                        box-shadow: none;
                        border: none;
                        border-radius: 0;
                        margin-bottom: -2px;

                        .rz-navigation-item {
                            margin: 15px;

                            .rz-navigation-item-link {
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .main {
        width: 80%;
        padding: 0 20px;
        background-color: $MainBackgroundColor;

        .top-bar {
            display: flex;
            justify-content: space-between;

            .page-title-wrapper {
                .page-name {
                    letter-spacing: 1px;
                    margin: 0;
                    font-size: 1.5rem;
                    line-height: 1.4;
                    font-weight: 500;
                    color: inherit;
                    display: flex;
                    align-items: center;
                    font-family: 'aeonik-medium';
                }

                .nioc-system {
                    font-size: .6rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: .04em;
                    line-height: 1.6;
                    color: #656d77;
                }
            }
        }
    }
}