@inherits LayoutComponentBase

<BlazoredToasts />

<TelerikRootComponent>

    <div class="row page">
        <div class="col-2 sidebar">
            <NavMenu />
        </div>

        <div class="col-10 main">
            @Body
        </div>
    </div>

</TelerikRootComponent>
